body{
  background-color: salmon;
}
th, td{

  padding: 20px;
  text-align: center;
}

caption{
  text-align: left;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 20px;

}
.header-col{
  background-color: #D3D3D3;
}

  .tables-col{
    background-color: #9BD5E3
  }
}
