body{
  background-color: brown;
font-family: sans-serif;
}

header{
  background-color: #000;
  color: #049993;
  padding: 15px
/*height: 100px; */
/*text-align: center */
padding-left: 5px;
}

nav ul li{
  display: inline;
  list-style-type: none;
}

ul{
  padding-left: 2px;
}

a{
  color: #000;
}
/* hedaer h1{
  margin-top: auto;
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  */
}
