body{
background-color: lightgrey;
}
header{
  display: flex;
  flex-direction: row;
}
#shield{
  background-image: url("images/shield-spin.jpg");
  background-position: left top;
  height: 75px;
  width: 65px;
}


h1 {
  font-family: 'Montaga',serif;
}

nav{
  grid-area: Nav;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}
nav ul li{
  flex: 1;
  text-align: center;

}

#banner{
  background-image: url("../images/FandB-banner.jpg");
  height: 300px;
  grid-area: banner;
  background-position: center;
}

#cards{
  grid-area: cards;
}
main{
  grid-area: blog;
}

#grid{
  grid-template-columns: 1fr 333px 334px 333px 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
  ". header  header header."
  ". nav      nav   nav   ."
  ". banner banner  banner."
  ". cards  cards  cards  ."
  ". sidenav  blog  blog  ."
  ". footer footer footer ."
  ".bottom bottom  bottom .";
}
@media screen and (max-width: 1000px){
  #grid{
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "nav"
    "banner"
    "cards"
    "blog"
    "sidenav"
    "footer"
    "bottom";
  }
}
